/*
 * Components
 * Copyright 202３
 * Alicia
 * Licensed 
 */
/*------------------------------------*\
    Content
\*------------------------------------*/
/**
 * Content
 * Button
 * Avatar
 * Card
 * Navigation
 * Jumbotron
 * Hero
 * Footer
 */


/*------------------------------------*\
    Button
\*------------------------------------*/
.btn{
	/* structure */
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 32px;
	min-width: 64px;
	/* style */
	font-size: 16px;
	text-align: center;
	font-weight: 400;
	font-family: Helvetica,Arial,"Noto Sans TC","Helvetica Neue","微軟正黑體","Microsoft JhengHei", sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: uppercase; /* optional */
	color: #3ecf8e;
	background-color: #fbfbfb;
	border: 0;
	border-radius: 22px;
	outline: none;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	/* interaction */
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		    user-select: none;
	-webkit-user-drag: none;
}
.btn.btn--hover,
.btn:hover{
	color: #3ecf8e;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--active,
.btn:active{
	color: #3ecf8e;
	transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.btn.btn--primary,
.btn.btn--secondary,
.btn.btn--positive,
.btn.btn--negative,
.btn.btn--alert{
	color: #fbfbfb;
}

.btn.btn--primary{
	background-color: #3ecf8e;
}
.btn.btn--primary.btn--hover,
.btn.btn--primary:hover{
	background-color: #53e8a5;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--primary.btn--active,
.btn.btn--primary:active{
	background-color: #30ba7c;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--secondary{
	color: #151730;
	background-color: #f9ff44;
}
.btn.btn--secondary.btn--hover,
.btn.btn--secondary:hover{
	color: #151730;
	background-color: #f7fc77;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--secondary.btn--active,
.btn.btn--secondary:active{
	color: #151730;
	background-color: #e2e915;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--positive{
	background-color: #6772e5;
}
.btn.btn--positive.btn--hover,
.btn.btn--positive:hover{
	background-color: #6772e5;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--positive.btn--active,
.btn.btn--positive:active{
	background-color: #555abf;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--negative{
	background-color: #f84545;
}
.btn.btn--negative.btn--hover,
.btn.btn--negative:hover{
	background-color: #f46161;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--negative.btn--active,
.btn.btn--negative:active{
	background-color: #d63b3b;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn.btn--alert{
	background-color: #f7ba36;
}
.btn.btn--alert.btn--hover,
.btn.btn--alert:hover{
	background-color: #ffcb5b;
	transform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.btn.btn--alert.btn--active,
.btn.btn--alert:active{
	background-color: #d8a22f;
	transform: translateY(1px);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 6px rgba(0,0,0,.08);
}
.btn--disabled,
.btn--disabled:hover,
.btn--disabled:active,
.btn--disabled:focus{
	color: #ffffff !important;
	background-color: #B2BAC4 !important;
	pointer-events: none;
}
/* size */
.btn.btn--lg{
	font-size: 16px;
	line-height: 56px;
	height: 56px;
	font-weight: 400;
	border-radius: 28px;
}
.btn.btn--md{
	font-size: 16px;
	line-height: 44px;
	height: 44px;
}
.btn.btn--sm{
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	padding: 0 16px;
}
/* btn group */
.btn-group{
	border: 1px solid #000;
	display: inline-flex;
}
.btn-group .btn:not(:last-child){
	margin-right: 8px;
}
/* social btns */
.icon-btn{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #3ecf8e;
	color: #3ecf8e;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	position: relative;
}
.icon-btn i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.icon-btn:hover{
	color: #fbfbfb;
	background-color: #3ecf8e;
}
.social-btns{
	display: inline-flex;
	vertical-align: top;
}
.social-btns__icon-btn:not(:last-child){
	margin-right: 8px;
}
/*.social-btns__icon-btn:last-child{
	margin-right: 0;
}*/


/*------------------------------------*\
    Avatar
\*------------------------------------*/
.avatar{
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
	border: 1px solid #f9ff44;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}
.avatar:after{
	content: "";
	display: block;
	padding-top: 100%;
}
.avatar.avatar--lg{
	width: 160px;
}
.avatar.avatar--md{
	width: 80px;
}
.avatar.avatar--sm{
	width: 40px;
}
.avatar.avatar--fluid{
	width: 100%;
}


/*------------------------------------*\
    Card
\*------------------------------------*/
/* image container */
.img-container{
	width: 100%;
	display: block;
	position: relative;
}
.img-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
	background-color: #B2BAC4;
}
.image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* card */
.card{
	background-color: #fbfbfb;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	overflow: hidden;
}
.card__body{
	padding: 16px;
}
.card__title{
	font-size: 20px;
	color: #151730;
	margin-top: 8px;
	margin-bottom: 16px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card__para{
	font-size: 16px;
	color: #686C71;
	line-height: 32px;
	margin-bottom: 16px;
	height: 64px;
	overflow: hidden;
	text-align: justify;
}


/*------------------------------------*\
    Navigation
\*------------------------------------*/
/* nav */
.nav{
	display: inline-flex;
}
.nav__item{
}
.nav__link{
	display: block;
	text-decoration: none;
	color: #40414f;
	padding: 20px 16px;
	line-height: 24px;
}
/* navbar */
.navbar{
	display: flex;
	justify-content: space-between;
	min-height: 64px;
	background-color: #ffffff;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	padding-left: 16px;
	padding-right: 16px;
}
.navbar .container{
	display: flex;
	justify-content: space-between;
}
.navbar__logo{
	width: 32px;
	height: 32px;
	border-radius: 20px;
	background-image: url("../images/common/logo_g.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;

	align-self: center;
}
.navbar__nav{
}
.navbar.navbar--light{
	background-color: rgba(251,251,251,0.95);
}
.navbar.navbar--light .nav__link{
	color: #686C71;
}
.navbar.navbar--light .nav__link:hover,
.navbar.navbar--light .nav__link.is-active{
	color: #3ecf8e;
}
.navbar.navbar--dark{
	background-color: #151730;
}
.navbar--dark .nav__link{
	color: #fbfbfb;
}
.navbar--dark .nav__link:hover,
.navbar.navbar--dark .nav__link.is-active{
	color: #6772e5;
}


/*------------------------------------*\
    Jumbotron
\*------------------------------------*/
/* mask */
.mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(251,251,251,0.3);
}
.mask.mask--light{
	background-color: rgba(251,251,251,0.3);
}
.mask.mask--dark{
	background-color: rgba(103, 114, 229, 0.1);
}

/* jumbotron */
.jumbotron{
	padding-top: 104px;
	padding-bottom: 320px;
	background-image: url('../images/bg/bg001.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.jumbotron--text-center{
	text-align: center;
}
.jumbotron__heading{
	font-size: 64px;
	color: #151730;
	font-weight: 400;
}
.jumbotron__para{
	font-size: 16px;
	color: #686C71;
}


/*------------------------------------*\
    Footer
\*------------------------------------*/
.footer{
	padding-top: 88px;
	box-shadow: 0 -4px 6px rgba(50,50,93,.11), 0 -1px 3px rgba(0,0,0,.08);
	background-color: #fff;
}
.footer--light{
	background-color: #fbfbfb;
}
.footer--dark{
	background-color: #151730;
}
.footer__title{
	margin-bottom: 24px;
	color: #151730;
}
.footer__description{
	color: #151730;
}
.footer__item{
	margin-bottom: 8px;
}
.footer__link{
	color: #151730;
	text-decoration: none;
	transition: all 0.2s;
}
.contact-info{
	margin-bottom: 24px;
}
.contact-info__item{
	padding-left: 32px;
}
.contact-info__item i{
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #686C71;
}
.copyright{
	border-top: 1px solid #B2BAC4;
	margin-top: 80px;
	padding-top: 24px;
	padding-bottom: 24px;
}
.copyright__text{
	color: #B2BAC4;
	text-align: center;
}
.footer--dark .footer__title,
.footer--dark .footer__link,
.footer--dark .contact-info__item i{
	color: #fbfbfb;
}